@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Vollkorn:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Vollkorn', serif;
}

@layer components {
    .home-box {
        height: 100vh;
        background-color: theme(colors.ice-blue);
        color: theme(colors.ocean-blue);
    }
    .dm-home-box {
        height: 100vh;
        background-color: theme(colors.deep-blue);
        color: theme(colors.ice-blue);
    }
    /* ... */
}