@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Vollkorn:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Vollkorn', serif;
}

@layer components {
    .home-box {
        height: 100vh;
        background-color: theme(colors.ice-blue);
        color: theme(colors.ocean-blue);
    }
    .dm-home-box {
        height: 100vh;
        background-color: theme(colors.deep-blue);
        color: theme(colors.ice-blue);
    }
    .nav-container ul {
        padding-top: 22px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .nav {
        top: 3%;
        width: 100%;
        position: fixed;
    }
    .nav-container ul li {
        list-style: none;
        display: inline;
        overflow: hidden;
        margin: 0 15px;
    }
    .nav-container li a {
        display: inline-block;
        font-size: 25px;
        font-family: theme(fontFamily.montserrat);
        font-weight: theme(fontWeight.medium);
        text-decoration: none;
    }
    /* .nav li a:hover {
        font-weight: bold;
    } */
    .nav .logo {
        position: relative;
        margin-left: 10%;
        font-size: 36px;
        font-family: theme(fontFamily.vollkorn);
        font-weight: theme(fontWeight.bold);
    }
    .nav-right {
        float: right;
        margin-right: 10%;
        padding-top: 5px;
        position: relative;
    }
    .switch-name {
        --dark-sky: theme(colors.ocean-blue);
        --moon: theme(colors.ice-blue);
        --light-sky: theme(colors.ice-blue);
        --sun: theme(colors.deep-blue);
        display: inline-block;
        position: relative;
        border-radius: 5em;
        cursor: pointer;
        width: 60px;
        height: 30px;
        overflow: hidden;
        transition: all .5s;
        margin-bottom: -4px;
    }
    .switch-name .back {
        background-color: var(--dark-sky);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: .5s ease-in-out;
    }
    .switch-name .checkbox {
        opacity: 0;
    }
    .switch-name .checkbox:checked ~ .back {
        background-color: var(--light-sky);
    }
    .switch-name .checkbox:checked ~ .moon {
        transform: translate(100%) rotate(180deg);
        opacity: 0;
    }
    .switch-name .checkbox:checked ~ .sun {
        transform: translate(100%) rotate(180deg);
        opacity: 1;
    }
    .switch-name .moon {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding: .4em;
        fill: var(--moon);
        transition: .5s;
    }
    .switch-name .sun {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding: .4em;
        fill: var(--sun);
        transition: .5s;
        opacity: 0;
    }
    .hero-container {
        display: flex;
        padding: 15rem 20rem;
    }
    .greeting-text {
        font-family: theme(fontFamily.montserrat);
        font-weight: theme(fontWeight.normal);
        font-size: 2em;
    }
    .name-text {
        font-family: theme(fontFamily.vollkorn);
        font-weight: theme(fontWeight.bold);
        font-size: 4em;
    }
    .title-text {
        font-family: theme(fontFamily.montserrat);
        font-weight: theme(fontWeight.normal);
        font-size: 2.5em;
    }
    /* ... */
}